<div id="_desktop_compare">
	<div class="compare_top">
		<a href="{$content_dir}module/poscompare/comparePage">
			<i class="pe-7s-refresh-2"></i><span>{l s='Compare' mod='poscompare'} <span
						id="poscompare-nb"></span></span>
		</a>
	</div>
</div>
<script type="text/javascript">
var baseDir ='{$content_dir}'; 
</script>
