
<p class="panel-product-line panel-product-actions">
	<button href="#" class="poscompare-add compare-button js-poscompare-add"  data-id_product="{$product->id|intval}";   onclick="posCompare.addCompare($(this),{$product->id|intval}); return false;" title="{l s='Add to compare' mod='poscompare'}"><i class="lnr lnr-sync"></i>{l s='Add to compare' mod='poscompare'}</button>  
</p>	
